{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h2 class="mb-4">Search result for
          <span class="text-primary">
            <script>
              var str = (window.location.search).substr(3);
              var result = str.replace("+", " ");
              document.write(result);
            </script>
          </span>
        </h2>
        <div class="bg-dark block shadow">
          <div id="search-results"></div>
          <script id="search-result-template" type="text/x-js-template">
            <div class="mb-5 border-bottom" id="summary-${key}">
              <h2 class="h4"><a class="text-light" href="${link}">${title}</a></h2>
                <div class="mb-3">
                    ${ isset categories }<span>categories: ${categories} </span>${ end }
                    ${ isset tags }<span>tags: ${tags}</span>${ end }
                </div>
              <p>${snippet}</p>
            </div>
        </script>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
