.navigation {
  transition: .3s ease;
  &.fixed-top{
    @include desktop {
      position: sticky !important;
    }
  }
  @include desktop {
    background: #242525;
  }
}

.nav-bg {
  background-color: $dark;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.161);
}

.nav-item{
  margin: 0;

  .nav-link{
    text-transform: capitalize;
  }

  .nav-link.nav-link {
	color: #fff;
  }
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 20px;
}


/* search */
.search {
  padding: 5px 20px;
  border-radius: 10px;
  background: #dcdcdc38;

  @include desktop {
    width: 50%;
    margin: auto; 
  }
}

.search-btn {
  border: 0;
  width: 5%;
  background: transparent;
}

.search-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 90%;
  margin: auto;
  z-index: 2;
  visibility: hidden;
  transition: .2s ease;
  opacity: 0;

  &.open {
    visibility: visible;
    opacity: 1;
  }
}

.search-box {
  height: 100%;
  width: 85%;
  border: 0;
  color: #fff;
  background-color: #fff0;
  font-size: 15px;
  padding: 0;

  &:focus {
    box-shadow: none !important;
    outline: 0;
  }
}

input.search-box::placeholder {
  color: #fff;
  opacity: 1;
}

