// Color Variables
$primary-color: #3399D9;
$secondary-color: #3666FF;
$text-color: rgb(192, 192, 192);
$text-color-dark: #fff;
$body-color: #2e2f2f;
$border-color: #ACB9C4;
$black: #000;
$white: #fff;
$light: #F8F8F8;
$dark: #242525;
$light-black: #1b1b1b;

// Font Variables
$primary-font: 'Muli', sans-serif;
$icon-font: 'themify';